In [1]:
import numpy as np
import pandas as pd
import random
%load_ext autoreload
%autoreload 2
import handle_categorical_vars
import handle_missing_values

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [11]:
# A random forest consists of many decision trees
# Each decision tree is trained with ~ 63% of the overall roles since we choose with replacement the rows for the tree bag
SIZE = 10000
EXPERIMENTS = 1000
fractions = []
for i in range(EXPERIMENTS):
    n_elements = len(set(np.random.choice(np.arange(1, SIZE + 1, 1), size = SIZE, replace = True)))
    fractions.append(n_elements/SIZE)
sum(fractions) / EXPERIMENTS

0.6321320000000007

In [7]:
# https://www.kaggle.com/competitions/titanic/data
titanic_train_df = pd.read_csv("./train.csv")
X = titanic_train_df.drop(["PassengerId", "Name", "Ticket", "Cabin", "Survived", "Embarked"], axis = 1)
y = titanic_train_df.loc[:, "Survived"]
X = handle_categorical_vars.one_hot_encode_column(X, "Sex", drop_first = True)
# X = handle_categorical_vars.one_hot_encode_column(X, "Embarked")
column_names = X.columns
X = handle_missing_values.impute_knn_algorithm(X, 3, False)
X = pd.DataFrame(X, columns = column_names)
# X["Survived"] = y
X.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male
0     3.0  22.0    1.0    0.0   7.2500       1.0
1     1.0  38.0    1.0    0.0  71.2833       0.0
2     3.0  26.0    0.0    0.0   7.9250       0.0
3     1.0  35.0    1.0    0.0  53.1000       0.0
4     3.0  35.0    0.0    0.0   8.0500       1.0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3, test_size=0.2)

In [9]:
random_forest_classifier = RandomForestClassifier(n_estimators=100, random_state=3)
random_forest_classifier.fit(X_train, y_train)
y_pred_test = random_forest_classifier.predict(X_test)
y_pred_train = random_forest_classifier.predict(X_train)
print(f"The accuracy for the test set is {accuracy_score(y_test, y_pred_test)}")
print(f"The accuracy for the train set is {accuracy_score(y_train, y_pred_train)}")

The accuracy for the test set is 0.7821229050279329
The accuracy for the train set is 0.9831460674157303

In [10]:
random_forest_classifier.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 3,
 'verbose': 0,
 'warm_start': False}